# Supabase Configuration
VITE_SUPABASE_URL=https://mpsvqlihaljsmxpjzddd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wc3ZxbGloYWxqc214cGp6ZGRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc0OTg1NDcsImV4cCI6MjA3MzA3NDU0N30.yBI65fK9Ob_usjNbZ5FEKx0h1YPfmdOY0wtY7b6p3yU